@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
/* Path: client/assets/styles.css */
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #F0F0F0;
}
